<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name="registers">
        <!--默认配置-->
        <register type="Interface.TargetInterface, NameSpace"
                  mapTo="Library.TargetLibrary, NameSpace" />
        <!--通过名称构造-->
        <register name="ENTITY"
                  type="Interface.TargetInterface, NameSpace"
                  mapTo="Library.TargetLibrary, NameSpace">
          <constructor>
            <param name="param"></param>
          </constructor>
        </register>
      </container>
    </containers>
  </unity>
</configuration>